- @nav = sitemap.find_resource_by_path("docs/getting-started/nav.yml") # TODO: I'd rather find this resource by a relative path -ch
- @root_path = @nav.data.root_path
- @nav_index = @nav.data.guide.index { |i| File.expand_path(i.url, @root_path) == current_page.url.sub(%r{/$}, '') }
- @progress = ((@nav_index || 0).to_f / @nav.data.guide.size) * 100
- @filename = File.basename(current_page.source_file)
- @forkthedocs = "http://github.com/test-kitchen/kitchen-docs/edit/master/source/docs/getting-started/#{@filename}" # TODO: move getting-started content into /source/docs subdirectory and remove static reference to /source/getting-started/

%html{ lang: "en" }
  %head
    %meta{ charset: "utf-8" }
    %meta{ "http-equiv" => "X-UA-Compatible", "content" => "IE=edge" }
    %title= "kitchen-docs preview server"
    %meta{ name: "description", content: "Test Kitchen" } 
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" } 

    = stylesheet_link_tag "kitchen"
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700"
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Open+Sans"
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Inconsolata"

  %body
    .container
      %h1= "Getting Started Guide"

      .progress
        .progress-bar{ "role" => "progressbar", "aria-valuenow" => "guide_progress", "aria-valuemin" => "0", "aria-valuemax" => "100", "style" => "width: #{@progress}%;" } 
          %span.sr-only{ id: "#{@progress}% Complete" }

    .container.guide
      .row
        .article.col-md-8
          - if current_resource.data.danger
            %div.alert.alert-danger= current_resource.data.danger

          - if current_resource.data.warning
            %div.alert.alert-warning= current_resource.data.warning

          - if current_resource.data.alert
            %div.alert.alert-info= current_resource.data.alert

          %span#githubs
            %h2= current_page.data.title
            %a{ href: @forkthedocs }
              .glyphicon.glyphicon-pencil

          :preserve
            #{yield}

          %hr

          %div#suggestions
            %div.row
              %div.col-md-7.pull-left
                %span

              %div.col-md-5.pull-right
                - if current_resource.data.next
                  %a.button.btn.btn-primary{ href: @root_path + current_resource.data.next.url }
                    = current_resource.data.next.text
                    %i.glyphicon.glyphicon-circle-arrow-right


        .col-md-4
          %ul.sections
            - @nav.data.guide.each do |section|
              - unless section.hide?
                %li
                  %a{ href: @root_path + section.url }= section.name

  = javascript_include_tag "vendor/modernizr-2.6.2.min"
  = javascript_include_tag "all"



